@import url("https://fonts.googleapis.com/css?family=Poppins");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-colour: white;
  --selection-colour: palevioletred;
  --gray-colour: gray;
  --bisque-colour: bisque;
  --red-colour: red;
}
::selection {
  color: var(--white-colour);
  background-color: var(--selection-colour);
}
body {
  background: linear-gradient(
    to top,
    rgb(248, 4, 126) 0%,
    rgb(250, 198, 247) 100%
  );
}
.wrapper {
  margin: 10vh auto;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  background-color: var(--white-colour);
  padding: 2rem;
}
.wrapper header {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.wrapper .input {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 1rem 0;
}
.input input {
  width: 85%;
  height: 100%;
  border: 1px solid var(--gray-colour);
  font-size: 15px;
  border-radius: 5px;
  padding-left: 10px;
}
.input button {
  width: 15%;
  border: none;
  background-color: rgb(248 57 159);
  color: var(--white-colour);
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  opacity: 0.6;
  pointer-events: none;
}
.input button.active {
  opacity: 1;
  pointer-events: auto;
}
.todolist ul {
  display: flex;
  flex-direction: column;
}
.wrapper .todolist {
  max-height: 250px;
  overflow-y: auto;
}
.todolist li {
  position: relative;
  list-style-type: none;
  height: 50px;
  line-height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--bisque-colour);
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todolist li span {
  position: absolute;
  right: -40px;
  height: 100%;
  padding: 15px;
  color: rgb(243, 231, 231);
  width: 40px;
  text-align: center;
  background-color: var(--red-colour);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.todolist li:hover span {
  right: 0px;
}
.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  text-align: center;
}
.footer button {
  border: none;
  background-color: rgb(248 57 159);
  color: var(--white-colour);
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  opacity: 0.6;
  pointer-events: none;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 352px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer span {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .input button {
    width: 20%;
    font-size: 15px;
  }
}
